.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputs_wrapp {
	display: flex;
	flex-direction: column;
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.error {
	color: red;
}

.nav-link {
	user-select: none;
}
