.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.inputs_wrapp {
	display: flex;
	flex-direction: column;
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.error {
	color: red;
}

.nav-link,
label {
	user-select: none;
}

label {
	cursor: pointer;
}
